.venv/

# Ignore generated datasets
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/README.md
!data/processed/README.md

models/*
!models/README.md

__pycache__/
*.py[cod]

# Project Brain
BRAIN.md

# Guides
fastapi_guide.md